body {
    background-color: rgb(110, 133, 110);
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding:0px 4px;
}

h1 a {
    padding: 0px;
    margin: 0px;
    color: rgba(255, 255, 255, .5);
    font-family: 'Sedgwick Ave', cursive;
    /* text-align: center; */
}

.heading{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.nav-item-last {
    flex: 1;
    text-align: right;
}

h1 a:hover{
    color: rgba(255, 255, 255, .8);
}

.nav-item {
    flex: 1;
}

.nav-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.nav-link-square {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 3px;
    color: rgba(255, 255, 255, .9);
    width: 32px;
    height: 32px;
}

.nav-link-square:hover {
    background-color: rgba(255, 255, 255, .2);
}

.nav-link-circle{
    width:32px;
    height:32px;
    background-color: #DFE3E6;
    border-radius: 100%;
    color:#17394d;
    font-weight: 600;
    font-size: 12px;
    vertical-align: bottom;
}


.nav-link-circle:hover {
    background-color: #c9d0d5;
}

/*--- Subnav --*/

#subnav {
    padding: 8px;
}

#subnav a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

#subnav-my-board {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding: 1px 12px;
    border-radius: 3px;
    color: rgba(255, 255, 255, .8);
    color: white;
    text-decoration: none;
    display: inline-block;
}

#subnav-my-board:hover {
    background-color: rgba(0, 0, 0, .3);
}
#subnav-star {
    border-radius: 3px;
    color: rgba(255, 255, 255, .8);
    font-size: 10px;
    width: 34px;
    line-height: 34px;
    height: 34px;
    text-align: center;
    vertical-align: bottom;
}

#subnav-star:hover {
    background-color: rgba(0, 0, 0, .3);
}

#subnav-personal {
    border-radius: 3px;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: bottom;
    padding: 0px 8px;
}

#subnav-personal:hover {
    background-color: rgba(0, 0, 0, .3);
}

.subnav-lil-line {
    height: 16px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    width: 0px;
    display: inline-block;
    vertical-align: text-top;
}

#subnav-private {
    border-radius: 3px;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: bottom;
    padding: 0px 8px;
}

#subnav-private i {
    font-size: 10px;
    vertical-align: 16%;
}

#subnav-private:hover {
    background-color: rgba(0, 0, 0, .3);
}

#subnav-circle{
    width:28px;
    height:28px;
    background-color: #DFE3E6;
    border-radius: 100%;
    color:#17394d!important;
    font-weight: 600;
    font-size: 12px;
    vertical-align: 5%;
    display: inline-flex!important;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 4px;
}

#subnav-circle:hover {
    background-color: #c9d0d5;
}

#subnav-invite {
    border-radius: 3px;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: bottom;
    padding: 0px 8px;
    background-color: rgba(255, 255, 255, .3);
}

#subnav-invite:hover {
    background-color: rgba(0, 0, 0, .3);
}

#show-menu {
    float: right;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    padding: 0px 8px;
    border-radius: 3px;
    text-align: center;
    vertical-align: bottom;
    color: rgba(255, 255, 255, .8);
}

#show-menu:hover {
    background-color: rgba(0, 0, 0, .3);
}

#show-menu i {
    font-size: 10px;
    vertical-align: 12%;
}

.swim-lane-placeholder {
    border-radius: 3px;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 275px;
    max-width: 275px;
    min-width: 275px;
    vertical-align: bottom;
    padding: 0px 8px;
    background-color: rgba(0, 0, 0, .15);
    border: none;
    text-align: left;
    display: inline-block;
    margin-left: 8px;
}

.swim-lane-placeholder:hover {
    background-color: rgba(0, 0, 0, .3);
}

.swim-lane-placeholder:active{
    outline: none;
}

.swim-lane-placeholder i {
    font-size: 10px;
    vertical-align: 12%;
    margin-left: 10px;
}

.swim-lane-namer {
    background-color: #DFE3E6;
    width: 271px;
    max-width: 271px;
    min-width: 271px;
    border-radius: 3px;
    margin-left: 8px;
    padding: 4px;
    display: none; /*begins hidden and will appear with js*/
    /* z-index: 11; */
}

.swim-lane-namer .list-title {
    width: 100%;
    box-sizing: border-box;
    line-height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #17394d;
}

.swim-lane-namer .list-title:focus {
    border: 2px solid #0079bf;
    outline: none;
    border-radius: 3px;
}

.swim-lane-namer .add-list {
    background-color: #5aac44;
    line-height: 20px;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
    margin-top: 4px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.swim-lane-namer .add-list:hover {
    background-color: #519839;
}

.swim-lane-namer .add-list:focus {
    outline: none;
}

.swim-lane-namer a {
    margin-left: 8px;
    color: #798d99;
    text-decoration: none;
    display: inline-block;
}

.swim-lane-namer i{
    vertical-align: text-bottom;
}

.swim-lane-namer a:hover {
    color: #516b7a;
}

#list-group {
    display:flex;
    flex-wrap:nowrap;
    overflow-x: scroll;
    height: calc(100vh - 90px);
    align-items: flex-start;
    clear: both;
}

#new-lists {
    display: flex;
    align-items: flex-start;
}

#clickout-guy {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: rgba(0,0,0,.6);
}

#list-dropdown {
    display: none;
    position: absolute;
    /* z-index: 50; */
    height: 172px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    background-color: white;
    border-radius: 3px;
    width: 300px;
}

#list-dropdown-top {
    display: flex;
    /* justify-content: space-between;
    align-items: baseline; */
    border-bottom: 1px solid rgba(9,30,66,.13);
    color: #6b778c;
    font-size: 14px;
    line-height: 40px;
    width: 250px;
    margin: 0px auto;
}

#list-dropdown-top a {
    flex: 1;
}

#list-d-x {
    text-align: right;
}

#list-dropdown-top span {
    flex: 1;
    text-align: center;
}

#list-dropdown-top a {
    color: #6b778c;
    text-decoration: none;
}

#list-dropdown-top a:hover {
    color: #505f79;
}

#list-dropdown-bottom {
    text-align: left;
    color: #172b4d;
    font-size: 14px;
    font-weight: 700;
}

#list-dropdown-bottom2 {
    /* text-align: center; */
    display: none;
    align-items: center;
    flex-direction: column;
    color: #172b4d;
    font-size: 14px;
    font-weight: 700;
}

#list-dropdown-bottom2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-dropdown-bottom2 select {
    outline: none;
    border: none;
    border-radius: 3px;
    color: #172b4d;
    border: 2px dotted #172b4d;
    line-height: 34px;
    height: 34px;
    /* width: 34px; */
    margin: 22px 8px 12px 8px;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: white;
    /* box-shadow: 0 1px 0 0 rgba(9,30,66,.13); */
    text-align: center;
}

#list-dropdown-bottom2 div span {
    line-height: 34px;
    height: 34px;
    /* margin-left: 25px; */
    display: inline-block;
    margin-top: 22px;
}

#list-dropdown-bottom2 span {
    line-height: 34px;
    height: 34px;
    /* margin-left: 25px; */
    display: inline-block;
    margin-top: 22px;
}

#list-dropdown-bottom4 {
    display: none;
    flex-direction: column;
    align-items: center;
    color: #172b4d;
    font-size: 14px;
    font-weight: 700;
}

#list-dropdown-bottom4 select {
    outline: none;
    border: none;
    border-radius: 3px;
    color: #172b4d;
    border: 2px dotted #172b4d;
    line-height: 34px;
    height: 34px;
    /* width: 34px; */
    margin: 22px 8px 12px 8px;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-color: white;
    /* box-shadow: 0 1px 0 0 rgba(9,30,66,.13); */
    text-align: center;
}


#list-dropdown-bottom3 {
    display: none;
    align-items: center;
    flex-direction: column;
    color: #172b4d;
    font-size: 14px;
    font-weight: 700;
}

#list-yes-no input{
    display: inline-block;
    width: 55px;
    text-align: center;
    padding: 5px 0px;
    margin: 0px 10px;
}

#list-yes-no {
    padding: 12px;
}

#sub-span {
    color: #6b778c;
    font-size: 12px;
    font-weight: 200;
}

#top-span {
    padding-top: 15px;
    width: 200px;
    text-align: center;
}


#list-d-move {
    color: #172b4d;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    display: block;
    padding: 5px 25px;
    margin: 10px 0px;
}

#list-d-move:hover {
    color: white;
    background-color: #298fca;
}

#list-d-delete {
    color: #172b4d;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    display: block;
    padding: 5px 25px;
    margin: 10px 0px;
}

#list-d-delete:hover {
    color: white;
    background-color: #298fca;
}

#list-d-back {
    visibility: hidden;
}

#list-proxy {
    display: none;
}

#is-edited-proxy{
    display: none;
}

#delete-guy{
    display: none;
    position: absolute;
    z-index: 51;
    border-radius: 3px;
    color: #e6e6e6;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    padding: 0px 8px;
    background: rgba(0,0,0,.6);
    cursor: pointer;
    border: none;
}

#delete-guy:focus {
    outline: none;
}

#delete-guy:hover{
    background: rgba(0,0,0,.8);
    color: white;
}

/*--- JavaScript elements --*/
.list {
    margin-left: 8px;
    border-radius: 3px;
    background-color: #DFE3E6;
    width: 263px;
    max-width: 263px;
    min-width: 263px;
    /* z-index: 10; */
    /* max-height: calc(100vh - 190px); */
    /* overflow-y: scroll; */
}
.list-top {
    display: inline-block;
    color: #17394d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    vertical-align: top;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px;
}

.list-button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: #798d99;
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

.list-button:hover{
    color: #516b7a;
    background-color: rgba(9,45,66,.13);
}

.list-span {
    max-width: 200px;
    word-break: break-word;
    padding: 6px 8px;
}

.card-add {
    width: 100%;
    border: none;
    border-radius: 0px 0px 3px 3px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: #6b808c;
    background-color: inherit;
    padding: 10px 12px;
}

.card-add i {
    font-size: 10px;
    vertical-align: 15%;
}

.card-add:hover {
    background-color:rgba(9,45,66,.13);
    color: #17394d;
    cursor: pointer;
}

.card-add:hover span {
    text-decoration: underline;
}

.card-add:focus {
    outline: none;
}

.card-namer {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 32px;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    font-size: 14px;
    line-height: 20px;
    color: #17394d;
    margin-bottom: 8px;
}

.card-namer:focus {
    border: 2px solid #0079bf;
    outline: none;
    border-radius: 3px;
    height: 50px;
}

.new-card {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    line-height: 28px;
    color: #17394d;
    /* margin-bottom: 8px; */
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(9,45,66,.25);
    text-align: left;
    padding: 3px 3px 3px 8px;
}

.new-cards {
    overflow-y: scroll;
    max-height: calc(100vh - 250px);
}

.new-card span {
    width: 85%;
    word-wrap: break-word;
}

.new-card button {
    display: none;
}

.new-card:hover button {
    display: inline-block;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0px;
    color: #7a869a;
    background-color: inherit;
}

.new-card button:hover{
    color: #505f79;
    background-color: #ebecf0;
    cursor: pointer;
}

.new-card:focus {
    outline:none;
}

.new-card-blue {
    outline: none;
    border: 2px solid #0079bf;
    transition: 1s;
}

.new-card:hover {
    background-color: #f8f8f8;
    cursor: grab;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-container div {
    display: none;
    position: absolute;
    background-color: white;
}

.green-butt {
    background-color: #5aac44;
    line-height: 20px;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 3px;
    margin: 0px;
    /* margin-right: 0px!important; */
    color: white;
    text-align: center;
    cursor: pointer;
    display: block;
}

.green-butt:hover {
    background-color: #519839;
}

.green-butt:focus {
    outline: none;
}

/*--- Drag and drop styles --*/

.invisible {
    visibility: hidden;
}

.insert {
    height: 7px;
    width: 100%;
    background-color: #DFE3E6;
    transition: .5s ease;
    margin: 1px 0px;
}

.insert-top {
    height: 0px;
    transition: .5s ease;
}

/*--- Side menu styles --*/

#side-menu{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    width: 340px;
    height: calc(100vh - 40px);
    top: 40px;
    right: 0px;
    background-color: #F4F5F7;
    box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    color: #172b4d;
}

#side-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    width: 90%;
    border-bottom: 1px solid rgba(9,30,66,.13);
    font-size: 16px;
    line-height: 44px;
    margin-bottom: 20px;
}

#side-m-text {
    font-weight: 700;
}

#side-m-back {
    visibility: hidden;
}

#side-m-x {
    color: #42526e;
}

#side-m-x:hover {
    color: #091e42;
}

#menu-color-text {
    font-size: 14px;
    margin-right: 10px;
}

#menu-form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guy {
    margin-bottom: 15px;
}